<span class="elastic-term">
  <select data-ng-model="rule.subType" class="form-control">
    <!-- Term Options -->
    <optgroup label="Text">
      <option value="equals">Equals</option>
      <option value="notEquals">! Equals</option>
    </optgroup>

    <optgroup label="Batch">
      <option value="in">In</option>
    </optgroup>


    <!-- Generic Options -->
    <optgroup label="Generic">
      <option value="exists">Exists</option>
      <option value="notExists">! Exists</option>
    </optgroup>

  </select>
  <input
    data-ng-if="inputNeeded()"
    class="form-control"
    data-ng-model="rule.value"
    type="text"/>
  <textarea class="form-control" 
    style="min-width:500px;" 
    data-ng-if="largeInputNeeded()" 
    data-ng-model="rule.value"/>
</span>
